.container {
  margin-top: -15px;

  mat-form-field {
    margin-top: 20px;
    width: 100%;
  }

  mat-label {
    height: 200px;
    position: relative;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .example-radio-button {
    margin: 5px;
  }
}
